  <body>
    <div class="searchbar">
      <label for="appointmentId">Enter AppointmentId:</label>
      <input type="text" name="appointmentId" placeholder="Appointment ID" [(ngModel)]="appointmentId"/>
      <button (click)="getAppointmentById()">Search</button>
  </div>

  <div class="container">
    <table *ngIf="onlyShowGetAppointments"class="table table-bordered table-striped mt-3 ">
      <thead class="thead-dark">
        <tr>
          <th>AppointmentId</th>
          <th>PatientId</th>
          <th>DoctorId</th>
          <th>AppointmentDate</th>
          <th>Status</th>
          <th>Nature of Visit</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>  
            <tr *ngFor="let p of appList">
              <td>{{ p.AppointmentId }}</td>
              <td>{{ p.PatientId }}</td>
              <td>{{ p.DoctorId}}</td>
              <td>{{ p.AppointmentDate|date:'short' }}</td>
              <td>{{ p.Status }}</td>
              <td>{{p.VisitType}}</td>
              <td><button (click)="fillForm(p)" class="btn btn-success"> Reschedule</button></td>
              <td><button (click)="delRecord(p.AppointmentId)" class="btn btn-danger"><i class="bi bi-trash"></i> Cancel</button></td>
            </tr>
      </tbody>
    </table>
  </div>

   <form *ngIf="!onlyShowGetAppointments" #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="Id" [value]="srv.list.AppointmentId">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fa fa-user-circle-o me-2" aria-hidden="true" [class.green-icon]="PatientId.valid" [class.red-icon]="PatientId.invalid && PatientId.touched"></i>
                        </div>
                    </div>
                    <input name="PatientId" #PatientId="ngModel" [(ngModel)]="srv.list.PatientId" placeholder="PatientId" class="form-control" required />
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-6 text-primary">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fa fa-diamond me-2" aria-hidden="true" [class.green-icon]="DoctorId.valid" [class.red-icon]="DoctorId.invalid && DoctorId.touched"></i>
                        </div>
                    </div>
                    <input name="DoctorId" #DoctorId="ngModel" [(ngModel)]="srv.list.DoctorId" placeholder="DoctorId" class="form-control" required />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fa fa-calendar me-2" aria-hidden="true" [class.green-icon]="AppointmentDate.valid" [class.red-icon]="AppointmentDate.invalid && AppointmentDate.touched"></i>
                        </div>
                    </div>
                    <input  name="AppointmentDate" #AppointmentDate="ngModel" [(ngModel)]="srv.list.AppointmentDate" placeholder="AppointmentDate" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fa fa-venus-mars me-2" aria-hidden="true" [class.green-icon]="Status.valid" [class.red-icon]="Status.invalid && Status.touched"></i>
                        </div>
                    </div>
                    <input name="Status" #Status="ngModel" [(ngModel)]="srv.list.Status" placeHolder="Status" class="form-control" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 text-primary">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white"> 
                        <i class="fa fa-diamond me-2" aria-hidden="true" [class.green-icon]="VisitType.valid" [class.red-icon]="VisitType.invalid && VisitType.touched"></i>
                    </div>
                </div>
                <input name="VisitType" #VisitType="ngModel" [(ngModel)]="srv.list.VisitType" placeholder="Nature of Visit" class="form-control" required />
            </div>
        </div>
    </div>
        
        
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-lg text-center" type="submit" [disabled]="form.invalid">
            <i class="fa fa-database"></i>Update Appointment</button>
    </div>
</form> 
  </body>