body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}


form {
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}


.form-control {
  padding: 10px;
  border: 1px solid black; 
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent; 
  color: rgb(0, 0, 0); 
  width: 100%;
}


.input-group-text {
  background-color: transparent; 
  border: 1px solid black; 
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34; 
}

@keyframes fadeIn {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

.searchbar {
animation: fadeIn 1s ease-in-out; 
padding: 20px;
margin-left: 50px;
border-radius: 10px;
text-align:center;
}

.container {
animation: fadeIn 1s ease-in-out;
background-color: rgba(8, 4, 4, 0.7); 
padding: 20px;
margin-top: 20px;
border-radius: 10px;
}

label {
color: black;
}