<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital Management System</title>
  </head>
  <body>
    <section id="hero">
      <div class="container">
        <div class="image-slider">
          <img src="https://static5.depositphotos.com/1039887/475/i/450/depositphotos_4756704-stock-photo-modern-hospital-building-front-emergency.jpg" alt="loading" /> 
        </div>
        <h2>Welcome to AmazeCare Hospitals</h2>

        <p>
          AmazeCare Hospitals provides total health care to its patients, with
          the highest levels of skill, professionalism, and ethical practice,
          leading to their effective care and treatment at affordable costs.
          AmazeCare Hospitals facilitates medical education and research and is
          committed to continuous quality improvement.
        </p>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2024 AmazeCare Hospitals. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
