header{
    background-color: bisque;
}
body{
    position: relative; 
    background-image: url("https://static5.depositphotos.com/1039887/475/i/450/depositphotos_4756704-stock-photo-modern-hospital-building-front-emergency.jpg");
    background-size: cover;
    background-position: center;
}
